.boxes{
    background-color: #43ccd6;
    padding: 20px;
    
    
}

.block{
    display: inline-block;
}

body{
    background-color: #d6d6d6;
}

h1{
    font-size: 44px;
    color: #dbdff0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 36px;
    color: #dbdff0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 18px;
    color: #dbdff0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}